httplib2
pandas
datetime
dj-database-url==0.4.1
Flask
Django==1.11
gunicorn==19.6.0
psycopg2==2.8.1
whitenoise==3.3.0
requests==2.9.1
asyncio 
telepot
python-telegram-bot
telebot
pyTelegramBotAPI
matplotlib
numpy
Flask-Cors==3.0.8
lightgbm==2.2.3
scikit-learn